.w3-top {
    width     : 100%;
    height    : 5%;
    background: black;
    color     : white;

    a {
        color          : inherit;
        text-decoration: none;
        margin: 5%;
        font-size: 25px;
    }
}